<?xml version="1.0"?>
 
<!--
  For more information on how to configure your ASP.NET application, please visit   ULTIMA VERSION 04/09/2024 18:36
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<!--ultima version-->
<configuration>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true"   providerName="System.Data.SqlClient" />
    <!--<add name="BDVENSERTEC_PRUEBAS" connectionString="Data Source=vensertecsp.ddns.net;Initial Catalog=BDSANPEDRO;User ID=sa;Password=M@RT1N3Z" providerName="System.Data.SqlClient"/>-->
    <!--<add name="BDVENSERTEC_PRUEBAS" connectionString="Data Source=.;Initial Catalog=BDLUBRICENTRO190111-02;User ID=sa;Password=@1234@ABCD@" providerName="System.Data.SqlClient"/>-->
    <add name="BDVENSERTEC_PRUEBAS" connectionString="Data Source=192.168.100.50;Initial Catalog=BDLUBRICENTRO_FUENTE;User ID=sa;Password=darkorbit" providerName="System.Data.SqlClient"/>
    <!--<add name="BDVENSERTEC_PRUEBAS" connectionString="Data Source=.;Initial Catalog=BDULTIMAWILLIAM;User ID=sa;Password=123; Connection Timeout=100000" providerName="System.Data.SqlClient" />-->
    <!--<add name="BDVENSERTEC_PRUEBAS" connectionString="Data Source=DESKTOP-OLO443M\SQL;Initial Catalog=BDVENSERTEC20230225;User ID=sa;Password=@1234@ABCD@; Connection Timeout=100000" providerName="System.Data.SqlClient"/>-->
    <!--<add name="BDVENSERTEC_PRUEBAS" connectionString="Data Source=enlace2.adesoftperu.com,5400;Initial Catalog=BDVENSERTEC20240112;User ID=sa;Password=@1234@ABCD@; Connection Timeout=100000" providerName="System.Data.SqlClient"/>-->
     <!--<add name="BDVENSERTEC_PRUEBAS" connectionString="Data Source=DESKTOP-0JSJ50C\J0MA;Initial Catalog=BDMERCEDES20231202;User ID=sa;Password=SA1; Connection Timeout=100000" providerName="System.Data.SqlClient"/>-->
    <!--<add name="BDVENSERTEC_PRUEBAS" connectionString="Data Source=enlace1.adesoftperu.com,1800;Initial Catalog=BDMERCEDES20231209;User ID=sa;Password=@1234@ABCD@; Connection Timeout=100000" providerName="System.Data.SqlClient" />-->
    <!--<add name="BDVENSERTEC_PRUEBAS" connectionString="Data Source=enlace2.adesoftperu.com,5400;Initial Catalog=BDVENCERTEC20240829;User ID=sa;Password=@1234@ABCD@; Connection Timeout=100000" providerName="System.Data.SqlClient" />-->
    <!--<add name="BDVENSERTEC_PRUEBAS" connectionString="Data Source=10.147.20.1,1500;Initial Catalog=BDMERCEDES_FINAL;User ID=sa;Password=@1234@ABCD@; Connection Timeout=100000" providerName="System.Data.SqlClient"/>-->
    <!--<add name="BDVENSERTEC_PRUEBAS" connectionString="Data Source=10.147.20.10;Initial Catalog=BDLUBRISERVICIOS;User ID=sa;Password=M@RT1N3Z" providerName="System.Data.SqlClient"/>-->
    <!--<add name="BDVENSERTEC_PRUEBAS" connectionString="Data Source=10.147.17.129;Initial Catalog=BDREPUESTOSVC;User ID=sa;Password=M@RT1N3Z" providerName="System.Data.SqlClient"/>-->

  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" >
    <assemblies>
      <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
      <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </assemblies>
    <buildProviders>
      <add extension=".rpt" type="CrystalDecisions.Web.Compilation.RptBuildProvider, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>
    </buildProviders>
    </compilation>
    
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10"
             applicationName="/" />
      </providers>
    </membership>
    
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
     <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>